@model AuthModel
@{
    ViewData["Title"] = "Change your password";

}
<div class="text-left">
    <h1>@ViewData["Title"]</h1>
</div>
<form method="post">
    <b class="mt-2">Password </b><br>
    <div class="mt-2"> @Html.PasswordFor(p => p.Password) @Html.ValidationMessageFor(p => p.Password)</div><br>
    <b class="mt-2">Comfirm password </b><br>
    <div class="mt-2"> @Html.PasswordFor(p => p.ConfirmPassword) @Html.ValidationMessageFor(p => p.ConfirmPassword)</div><br>

    <input type="submit" value="Continue" class="btn btn-primary mt-3 pr-3 pl-3">
</form>